<div class="jumbotron text-center">
  <h1>Rent a Space</h1>
  <p>These properties are availbale for the dates you selected</p>
  <form class="form-size" action="/spaces/filter">
    <label for="pwd">Check-in:</label>
    <input type="date" name='start' class="form-control" id="pwd">
    <label for="pwd">Check-out:</label>
    <input type="date" name='end' class="form-control" id="pwd">
    <button type="submit" class="btn btn-default">Filter</button>
  </form>
</div>
<div class="new-space">
<form action="/spaces/new" method="get">
  <button class="btn btn-default btn-lg" type="submit">Register new space</button>
</form><br>
</div>
<div class="container">
  <div class="row spaces">
    <div class="col-sm-14">
      <% @properties.each do |property| %>
        <div class="col-sm-4">
          <h4><%= property.name %> in <%= property.location %></h4>
          <img class="thumbnail center-block" src="<%= property.image_path%>" class="img-rounded" width="304" height="236">
          <%= property.location %>
            About this listing: <%= property.description %><br>
            Only £<%= property.price %> a day!<br>
            Contact <%=property.user.email%> for more info.
          <form action="/requests/new" method="post">
            <input type="submit" value="Rent">
            <input type="hidden" name="start_rent" value="<%=@start_rent%>">
            <input type="hidden" name="end_rent" value="<%=@end_rent%>">
            <input type="hidden" name="property" value="<%=property.id%>">
          </form>
        </div>
      <% end %>
    </div>
  </div>
</div>
