<div class="jumbotron text-center">
  <h1>My listings</h1>
</div>
<div class="new-space">
<form action="/spaces/new" method="get">
  <button class="btn btn-default btn-lg" type="submit">Register new space</button>
</form><br>
</div>
<div class="container">
  <div class="row spaces">
    <div class="col-sm-14">
      <% @user_properties.each do |property| %>
        <div class="col-sm-4">
          <h4><%= property.name %> in <%= property.location %></h4>
          <img class="thumbnail center-block" src="<%= property.image_path%>" class="img-rounded" width="304" height="236">
        <%= property.location %>
        <%= property.name %><br>
        Location: <%= property.location %><br>
        About this listing: <%= property.description %><br>
        Only £<%= property.price %> a day!<br>
          </div>
      <% end %>
    </div>
  </div>
</div>
